streamlit
numpy
pandas
pillow
scikit-learn

# TensorFlow i Keras
tensorflow
keras

# Google API dependencies
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# Requests
requests
